= render "books/header"
.profile
  .profile__image
    = attachment_image_tag @user, :profileimage, fallback: 'pet_darui_dog.png', class: "profileImage"
    = current_user.name
    = link_to "プロフィール編集", edit_user_path(@user)

.main_content
  .booksCard
    .cardHeader
      .cardHeader__user
        %b= current_user.name
    .cardTitle
      %b 図書カード
    .addBook
      = link_to new_book_path do
        = icon('far', 'plus-square')
        本の追加
    .booksContents
      .booksColumn
        .booksColumn__started
          読始日
        .booksColumn__finidhed
          読了日
        .booksColumn__title
          本のタイトル
        .booksColumn__author
          著者
      - @books.each do |book|
        = link_to book_path(book) do
          .booksData
            .booksData__started
              = book.started_at
            .booksData__finidhed
              = book.finished_at
            .booksData__title
              = book.title
            .booksData__author 
              = book.author
      .footer