.Header
  .HeaderContent
    .HeaderContent__icon
      = link_to root_path, class: "icon" do
        = image_tag ("84553.png"), height: "100px",class: "bookImg"
        %h1 ほんのきろく
      
  .headerNav
    - if user_signed_in?
      = link_to destroy_user_session_path, method: :delete do
        = icon('fas', 'sign-out-alt')
        ログアウト
      = link_to users_path(id: current_user) do
        = icon('fas', 'user')
        マイページ
    - else
      = link_to new_user_session_path do
        = icon('fas', 'sign-in-alt')
        ログイン
      = link_to new_user_registration_path do
        = icon('fas', 'user-plus')
        サインアップ
