= form_with(url: search_books_path, local: true, method: :get) do |f|
  .inputForm
    = f.text_field :keyword, placeholder: "タイトルから探す", class: "inputForm__area"
    %button{type: "submit", class: "inputForm__btn"}
      = icon('fas', 'search', class: "inputForm__btn--icon")
- @books.each do |book|
  -# - @user.each do |user|
  .bookInfoContents
    .bookInfo
      .bookInfo__top
        .bookInfo__top--user
          %b= book.user.name
          さんが本を登録しました！
      .bookInfo__main
        .image
          = attachment_image_tag book.user, :profileimage, fallback: 'pet_darui_dog.png', class: "profileImage"
        .spec 
          = link_to book_path(book) do
            .specContents
              .specLeft
                .specLeft__title
                  %b= book.title
                .specLeft__author
                  = book.author
              .specRight
                .specRight__created
                  = book.created_at
      