= render "header"
.contents
  .newEdit 本の編集
  .form
    = form_with model: @book, local: true do |f|
      .subtitle
        %b タイトル
        .subtitle__input
          = f.text_field :title, placeholder: "本のタイトル", class: "inputForm"
      .subtitle
        %b 著者
        .subtitle__input
          = f.text_field :author, placeholder: "著者", class: "inputForm"
      .subtitle
        %b 読み始めた日
        .subtitle__input
          != sprintf(f.date_select(:started_at, require:true, use_month_numbers:true, date_separator:'%s'),'年 ','月 ')+'日'
      .subtitle
        %b 読み終わった日
        .subtitle__input
          != sprintf(f.date_select(:finished_at, require:true, use_month_numbers:true, prompt: "---", date_separator:'%s'),'年 ','月 ')+'日'
      .subtitle
        %b 総ページ数
        .subtitle__input
          = f.text_field :page, placeholder: "数字で入力", class: "inputForm"
      .subtitle
        %b 出版社
        .subtitle__input
          = f.text_field :publisher, placeholder: "出版社", class: "inputForm"
      .subtitle
        %b 評価
        .subtitle__input
          = icon('fas', 'star star')
          = f.select :evaluation, {'１': 1, '２': 2, '３': 3, '４': 4, '５': 5}, { include_blank: '選択'}, require: true, class: "evaluation"
      .subtitle
        %b 感想
        .subtitle__input
          = f.text_area :impression, placeholder: "感想を入力してください", class: "impressionForm"
      .submitBtn
        = f.submit "変更"