.Header
  .headerNav
    .headerNav__home
      = link_to "ホーム", root_path
    .headerNav__user
      .userStatus
        - if user_signed_in?
          = link_to "ログアウト", destroy_user_session_path
          = link_to "マイページ", "#"
        - else
          = link_to "ログイン", new_user_session_path
          = link_to "新規登録", new_user_registration_path

.Body
  .Title_content
    %p 本の記録