= render "header"
= form_with(url: search_books_path, local: true, method: :get) do |f|
  .inputForm
    = f.text_field :keyword, placeholder: "タイトルから探す", class: "inputForm__area"
    %button{type: "submit", class: "inputForm__btn"}
      = icon('fas', 'search', class: "inputForm__btn--icon")
- @books.each do |book|
  -# - @user.each do |user|
  .bookInfoContents
    .bookInfo
      .bookInfo__top
        .bookInfo__top--user
          -# %b= user.name
          -# さんが新しい本を登録しました！
          新しい本が登録されました
      .bookInfo__main
        .image
          =icon('far', 'smile my-big')
        .spec 
          = link_to book_path(book) do
            .spec__title
              %b= book.title
            .spec__author
              = book.author
      .bookInfo__bottom
        = book.created_at