= render "header"

.contentsBox
  .titleContent
    .titleContent__title
      %span タイトル
      %h1= @book.title
    .titleContent__rating
  .bookData
    .bookData__main
      .bookData__main--author
        %span 著者
        = @book.author
      .bookData__main--publisher
        %span 出版社
        = @book.publisher
    .bookData__date
      .bookData__date--started
        %h3 読始日
        %p= @book.started_at
      .bookData__date--finished
        %h3 読了日
        %p= @book.finished_at
    .bookData__impression
      %span 感想
      .impressionBox
        %p= @book.impression
    .button
      = link_to edit_book_path(@book), class: "btnStyle" do
        .button__edit
          = icon('fa', 'edit')
          %b 編集
      = link_to book_path(@book), method: :delete, class: "btnStyle" do
        .button__delete
          = icon('fa','trash-alt')
          %b 削除