= render "header"

.contentsBox
  .titleContent
    .titleContent__title
      %span タイトル
      %h1= @book.title
    .titleContent__evaluation
      - if @book.evaluation == 1
        = icon('fas','star starNum')
        = icon('far','star starNum')
        = icon('far','star starNum')
        = icon('far','star starNum')
        = icon('far','star starNum')
      - elsif @book.evaluation == 2
        = icon('fas','star starNum')
        = icon('fas','star starNum')
        = icon('far','star starNum')
        = icon('far','star starNum')
        = icon('far','star starNum')
      - elsif @book.evaluation == 3
        = icon('fas','star starNum')
        = icon('fas','star starNum')
        = icon('fas','star starNum')
        = icon('far','star starNum')
        = icon('far','star starNum')
      - elsif @book.evaluation == 4
        = icon('fas','star starNum')
        = icon('fas','star starNum')
        = icon('fas','star starNum')
        = icon('fas','star starNum')
        = icon('far','star starNum')
      - elsif @book.evaluation == 5
        = icon('fas','star starNum')
        = icon('fas','star starNum')
        = icon('fas','star starNum')
        = icon('fas','star starNum')
        = icon('fas','star starNum')
      - else
        %p 評価していません
  .bookData
    .bookData__main
      .bookData__main--author
        %span 著者
        = @book.author
      .bookData__main--publisher
        %span 出版社
        = @book.publisher
    .bookData__date
      .bookData__date--started
        %h3 読始日
        %p= @book.started_at
      .bookData__date--finished
        %h3 読了日
        %p= @book.finished_at
    .bookData__impression
      %span 感想
      .impressionBox
        %p= @book.impression
    - if user_signed_in? && current_user.id == @book.user_id
      .button
        = link_to edit_book_path(@book), class: "btnStyle" do
          .button__edit
            = icon('fa', 'edit')
            %b 編集
        = link_to book_path(@book), method: :delete, class: "btnStyle" do
          .button__delete
            = icon('fa','trash-alt')
            %b 削除